<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ViralVideos.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>43EEB80B1D14564300C31A3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43EEB8241D14564300C31A3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43EEB82F1D14564300C31A3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
